@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --divider: #ebeff2;
    --blue-200: #747d94;
    --blue-500: #293d71;
    --blue-600: #081B4E;
    --blue-800: #00113d;
    --orange-400: #f43724;
    --orange-500: #f21a05;
    --gray-50: #EBEFF2;
    --gray-100: #eaecf0;
    --gray-400: #B7B7B7;
    --gray-500: #777777;
    --gray-background: #f5f6f8;
  }

  .dark {
    --white: #000000;
    --black: #ffffff;
    --divider: #2d3748;
    --blue-200: #747d94;
    --blue-500: #293d71;
    --blue-600: #081B4E;
    --blue-800: #00113d;
    --orange-400: #f43724;
    --orange-500: #f21a05;
    --gray-100: #eaecf0;
    --gray-500: #777777;
    --gray-background: #f5f6f8;
  }
}

/* Hide the show password icon in IE and Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide the show password icon in Chrome */
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

#select-trigger[data-state='open'] #select-caret {
  transform: rotate(180deg);
}